*__pycache__/
migrations/
.env
feed/__pycache__/
feed/migrations/
project/__pycache__/
staticfiles/admin/css/
staticfiles/admin/fonts
staticfiles/admin/img
staticfiles/admin/js
users/__pycache__/
users/migrations/__pycache__/
*.py[cod]
*$py.class
lib/
lib64/
parts/
sdist/
var/