{% extends "users/layout.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
	<div class="row">
		<!-- container to render messages -->
		<div class="container">
				<br>
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<div
					{% if message.tags %} 
					class="alert alert-success" role="alert"
					{% endif %}>
					{{ message }}

				</div>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
		<!-- /container -->

		<!-- space -->
		<div class="col-md-4"></div>

		<!-- login form -->
		<div class="col-md-4">
			<p class="h4 text-success">Login!</p>
			<form method="POST" action="">
				{% csrf_token %}
				{{ form |crispy }}
				<button class="btn btn-success">Sign Up!</button>
			</form>
		</div>
		<!-- /form -->


		<!-- space -->
		<div class="col-md-4"></div>
	</div>
</div>

{% endblock %}